@model MVC1.Models.Question
@{ Layout = "~/Views/Shared/_TestLayout.cshtml";
   ViewData["Title"] = "PDD online";
}

<h1 style="display: flex; justify-content: center;">Тестовые вопросы для проверки знаний ПДД</h1>
<form method="post" action="~/Test/Result"> 
    <div class="block">
        <div class="question">
            <input name="idOfQuestion" value="@Model.Id" type="hidden"/>
            @Model.numberOfQuestion
            @Model.textOfQuestion<hr />
        </div>
        <div class="answers">
            @for (int i = 0; i < Model.answers.Count; i++)
            {
                @if (@Model.answers[i].isCorrect)
                {
                    <input type="radio" name="isCorrect" value="true" /> @Model.answers[i].textOfAnswer<br />
                }
                else
                {
                    <input type="radio" name="isCorrect" value="false" /> @Model.answers[i].textOfAnswer<br />
                }
            }
        </div>
        <br />
    </div>
    <br /><br />
    <p><input class="sent" type="submit" value="Отправить"></p>
</form>
